@model QLSTK_MoneyLover.Models.Withdraw

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBlankAd.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Acronym, "Mã số :", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Acronym, new { htmlAttributes = new { @class = "form-control acronym", maxstr = "10", id = "acronym" } })
                    @Html.ValidationMessageFor(model => model.Acronym, "", new { @class = "text-danger", id = "erracronym" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.PassBookId, "Sổ tiết kiệm", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("PassBookId", null, htmlAttributes: new { @class = "form-control", id = "pbid" })
                    @Html.ValidationMessageFor(model => model.PassBookId, "", new { @class = "text-danger", id = "errpbid" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.WithdrawDate, "Ngày rút :", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.WithdrawDate, new { htmlAttributes = new { @class = "form-control", type = "date", id = "witdate" } })
                    @Html.ValidationMessageFor(model => model.WithdrawDate, "", new { @class = "text-danger", id = "errwitdate" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Amount, "Số tiền rút :", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control moneyinput", maxstr = "12", id = "amount" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger", id = "erramount" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12" style="margin-top: 1rem;">
                <center>
                    <p style="color: #c82333;" id="errmsg"></p>
                    <input type="button" id="btnSave" value="Create" class="btn btn-input" />
                </center>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal" />
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span style="float: right" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="body-content">
                    <dl class="dl-horizontal">
                        <dt style="width: 50%">
                            Lãi suất :
                        </dt>
                        <dd>
                            <p id="interest"></p>
                        </dd>
                        <dt style="width: 50%">
                            Lãi suất không kỳ hạn :
                        </dt>
                        <dd>
                            <p id="interestKKH"></p>
                        </dd>
                    </dl>
                </div>
                <center><input type="button" onclick="window.location.reload(true);" id="" value="OK" class="btn btn-input" /></center>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var tzoffset = (new Date()).getTimezoneOffset() * 60000;
    var today = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 10);
    $("#witdate").val(today);

    findterm($("#pbid").val(), $("#witdate").val())

    function findterm(pbid, witdate) {
        if (pbid != null) {
            var data2 = new FormData();
            data2.append("pbid", pbid);
            data2.append("strwitdate", witdate);
            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckTerm", "Withdraws")",
                data: data2,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#erramount').text("Số dư hiện tại: " + res.balance);
                    $('#errmsg').text(" ");
                    $("#amount").val(" ");
                    if (res.result == "no") {
                        $("#btnSave").attr("title", "Disabled");
                        $("#btnSave").attr("class", "btn btn-actiondisable");
                        $("#btnSave").prop("disabled", "disabled");
                        $("#acronym").prop("disabled", "disabled");
                        $("#amount").prop("disabled", "disabled");
                        $('#errmsg').text("Chưa đến kỳ hạn, không thể rút tiền !");
                    }
                    else {
                        $("#btnSave").attr("title", "Create");
                        $("#btnSave").attr("class", "btn btn-input");
                        $("#btnSave").prop("disabled", false);
                        $("#acronym").prop("disabled", false);
                        $("#amount").prop("disabled", false);
                        if (res.acronym == "KKH") {
                            $("#amount").prop("disabled", "disabled");
                            $("#amount").val(res.balance);
                        }
                    }
                },
                error: function (res) {
                    console.log(JSON.stringify(res));
                    alert('error');
                }
            });
        }
    };

    $(document).ready(function () {
        //debugger;

        $('#pbid').on('change', '', function (e) {
            pbid = this.value;
            findterm(pbid, $("#witdate").val());
        });
        $('#witdate').on('change', '', function (e) {
            witdate = this.value;
            findterm($("#pbid").val(), witdate);
        });

        $("#btnSave").click(function () {
            //debugger;
            var formData = new FormData();

            formData.append("Acronym", $("#acronym").val());
            formData.append("PassBookId", $("#pbid").val());
            formData.append("WithdrawDate", $("#witdate").val());
            formData.append("Amount", $("#amount").val());

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create","Withdraws")",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (res) {
                    //debugger;
                    console.log(JSON.stringify(res));
                    $('#erracronym').text(" ");
                    $('#errpbid').text(" ");
                    $('#errwitdate').text(" ");
                    $('#erramount').text(" ");
                    if (res.msgacronym != null) {
                        $('#erracronym').text(res.msgacronym);
                    }
                    if (res.msgpbid != null) {
                        $('#errpbid').text(res.msgpbid);
                    }
                    if (res.msgwitdate != null) {
                        $('#errwitdate').text(res.msgwitdate);
                    }
                    if (res.msgamount != null) {
                        $('#erramount').text(res.msgamount);
                    }
                    if (res.msg == "completed") {
                        //$("#largeModal").modal("hide");
                        alert('Thêm thành công !');
                        //window.location.reload(true);
                        //window.location.href = ("@Url.Action("Details", "Withdraws")/" + res.witid)
                        $("#titleModal").empty();
                        var txt = "Result";
                        $("#titleModal").append(txt);
                        $('#interest').text(res.interest);
                        $('#interestKKH').text(res.interestKKH);
                        $("#actionModal").modal("show");
                    }
                },
                error: function (res) {
                    //debugger;
                    console.log(JSON.stringify(res));
                    $("#largeModal").modal("hide");
                    alert('error');
                    //window.location.href = ("@Url.Action("Details","Sanhs")/" + data.MaSanh);
                }
            })
        })
    })
</script>