@model IEnumerable<QLSTK_MoneyLover.Models.Withdraw>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Breadcome start-->
@{
    string pn = "Index";
    int i = 0;
}
@Html.Action("Breadcome", "LayoutAdmin", new { pagename = pn })
<!-- Breadcome End-->
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Withdraws List <span class="table-project-n"><a class="btn btn-action" style="margin-left: 10px;" id="create" title="Thêm phiếu rút tiền" data-toggle="modal" data-target="#largeModal">+</a></span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">@Html.DisplayNameFor(model => model.Id)</th>
                                        <th data-field="acronym">@Html.DisplayNameFor(model => model.Acronym)</th>
                                        <th data-field="witdate">@Html.DisplayNameFor(model => model.WithdrawDate)</th>
                                        <th data-field="amount">@Html.DisplayNameFor(model => model.Amount)</th>
                                        <th data-field="passbookid">@Html.DisplayNameFor(model => model.PassBookId)</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td></td>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Acronym)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WithdrawDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PassBook.Acronym)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", new { id = item.Id })" mycheck="@item.Status" action="details" data-id="@item.Id" class="btn btn-action" style="margin: 0" data-toggle="modal" title="Details"><i class="glyphicon glyphicon-info-sign"></i></a>
                                                <a href="@Url.Action("Edit", new { id = item.Id })" mycheck="@item.Status" action="edit" data-id="@item.Id" class="btn btn-action" style="margin: 0" data-toggle="modal" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a href="@Url.Action("Delete", new { id = item.Id })" mycheck="@item.Status" action="delete" data-id="@item.Id" class="btn btn-action" style="margin: 0" data-toggle="modal" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End -->
