@model QLSTK_MoneyLover.Models.Term

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBlankAd.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Acronym, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Acronym, new { htmlAttributes = new { @class = "form-control acronym", maxstr = "10", id = "acronym" } })
                    @Html.ValidationMessageFor(model => model.Acronym, "", new { @class = "text-danger", id = "erracronym" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control nameinput", maxstr = "30", id = "name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", id = "errname" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.MinDate, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MinDate, new { htmlAttributes = new { @class = "form-control moneyinput", type = "text", maxstr = "5", id = "mindate" } })
                    @Html.ValidationMessageFor(model => model.MinDate, "", new { @class = "text-danger", id = "errmindate" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.MinPayIn, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MinPayIn, new { htmlAttributes = new { @class = "form-control moneyinput", maxstr = "12", id = "minpayin" } })
                    @Html.ValidationMessageFor(model => model.MinPayIn, "", new { @class = "text-danger", id = "errminpayin" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                @Html.Label("InterestRate", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.Editor("InterestRate", new { htmlAttributes = new { @class = "form-control irinput", maxstr = "6", id = "ir" } })
                    @Html.ValidationMessage("InterestRate", "", new { @class = "text-danger", id = "errir" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12" style="margin-top: 1rem;">
                <center><input type="button" id="btnSave" value="Create" class="btn btn-input" /></center>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //debugger;
        $("#btnSave").click(function () {
            //debugger;
            var formData = new FormData();

            formData.append("Acronym", $("#acronym").val());
            formData.append("Name", $("#name").val());
            formData.append("MinDate", $("#mindate").val());
            formData.append("MinPayIn", $("#minpayin").val());
            formData.append("ir", $("#ir").val());

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create","PassBooks")",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (res) {
                    //debugger;
                    console.log(JSON.stringify(res));
                    $('#erracronym').text(" ");
                    $('#errname').text(" ");
                    $('#errmindate').text(" ");
                    $('#errminpayin').text(" ");
                    $('#errir').text(" ");
                    if (res.msgacronym != null) {
                        $('#erracronym').text(res.msgacronym);
                    }
                    if (res.msgname != null) {
                        $('#errname').text(res.msgname);
                    }
                    if (res.msgmindate != null) {
                        $('#errmindate').text(res.msgmindate);
                    }
                    if (res.msgminpayin != null) {
                        $('#errminpayin').text(res.msgminpayin);
                    }
                    if (res.msgir != null) {
                        $('#errir').text(res.msgir);
                    }
                    if (res.msg == "completed") {
                        $("#largeModal").modal("hide");
                        alert('Thêm thành công !');
                        //window.location.reload(true);
                        window.location.href = ("@Url.Action("Details", "Terms")/" + res.termid)
                    }
                },
                error: function (res) {
                    //debugger;
                    console.log(JSON.stringify(res));
                    $("#largeModal").modal("hide");
                    alert('error');
                    //window.location.href = ("@Url.Action("Details","Sanhs")/" + data.MaSanh);
                }
            })
        })
    })
</script>