@model QLSTK_MoneyLover.Models.Term

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Term</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPayIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPayIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if(ViewBag.PbCount != 0)
            {
                <p style="color: #c82333;" id="">Loại tiết kiệm này đang có @ViewBag.PbCount sổ tiết kiệm. Không thể xóa !</p>
                <input type="submit" value="Delete" class="btn btn-default" disabled="disabled" />
            }
            else
            {
                <input type="submit" value="Delete" class="btn btn-default" />
            }
             |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
